@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
	background: rgba(0, 0, 0, 255);
}

#form_container {
	position: absolute;
	height: 600px;
	width: 500px;
	background: rgba(0, 0, 0, 255);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(172, 172, 172, 0.459);
	border-radius: 25px;
	transition: 0.2s ease-in;
	opacity: 1;
	z-index: 1;
}

#form_container.hidden {
	height: 0;
	opacity: 0;
}

#form_container #close_btn {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 25px;
	font-size: 30px;
	color: rgba(217, 22, 95, 255);
	background-color: rgba(0, 0, 0, 255);
	cursor: pointer;
}

#form_container #close_btn:hover {
	transition: 0.07s ease-in;
	background-color: rgba(22, 3, 9, 255);
}

#page_content {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: row;
	justify-content: inherit;
	align-items: inherit;
}

#page_content.inactive {
	transition: 0.07s ease-in;
	filter: blur(10px);
}

.section {
	position: relative;
	height: 100%;
}

#side_bar {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background: rgba(0, 0, 0, 255);
	transition: 0.7s ease;
	opacity: 1;
}

#side_bar::-webkit-scrollbar {
	display: none;
}

.close_sidebar_btn_container {
	position: absolute;
	top: 20px;
	cursor: pointer;
}

.close_sidebar_btn_container.hidden {
	visibility: hidden;
}

.side_bar_content {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 277px;
	height: 600px;
	margin: 0 30px 0 30px;
}

.side_bar_content #logo {
	position: absolute;
	margin-top: 10px;
	margin-left: 20px;
}

.side_bar_content #book_stat {
	background: rgba(21, 24, 28, 255);
	position: absolute;
	top: 70px;
	height: 400px;
	width: 100%;
	border-radius: 25px;
}

.side_bar_content .addBook_btn {
	position: absolute;
	top: 500px;
	color: white;
	background-color: rgba(217, 22, 95, 255);
	height: 55px;
	width: 100%;
	border: none;
	border-radius: 25px;
	font-size: 17px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.side_bar_content .addBook_btn:hover {
	transition: 0.2s ease-in-out;
	filter: brightness(90%);
}

#main_content {
	flex: 2;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 1.5px;
	border-color: rgba(114, 114, 114, 0.459);
}

#main_content #header {
	height: 70px;
	display: flex;
	align-items: center;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: rgba(114, 114, 114, 0.459);
	justify-content: space-between;
}

#main_content #header .side_bar_btn_container,
#main_content #header .updates_btn_container {
	cursor: pointer;
	visibility: hidden;
}

#main_content #header #searchbar_container {
	background: rgba(21, 24, 28, 255);
	height: 50px;
	width: 100%;
	max-width: 500px;
	border: none;
	border-radius: 25px;
}

#main_content #main-container #indicator {
	display: flex;
	align-items: center;
	padding-left: 20px;
	height: 40px;
	color: rgba(214, 214, 214, 255);
	background-color: rgba(217, 22, 95, 255);
	font-weight: 500;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: rgba(114, 114, 114, 0.459);
}

#updates_bar {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	background: rgba(0, 0, 0, 255);
	overflow-y: scroll;
	z-index: 1;
	-ms-overflow-style: none;
	scrollbar-width: none;
	transition: 0.7s ease;
}

#updates_bar::-webkit-scrollbar {
	display: none;
}

.close_updatesbar_btn_container {
	position: absolute;
	top: 20px;
	cursor: pointer;
}

.close_updatesbar_btn_container.hidden {
	position: absolute;
	top: 20px;
	cursor: pointer;
	visibility: hidden;
}

#updates_bar .updates_bar_content {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 277px;
	height: 600px;
	margin: 0 30px 0 30px;
}

#updates_bar .updates_bar_content .user {
	display: flex;
	height: 70px;
	width: 100%;
	margin-top: 10px;
	justify-content: space-between;
}

#updates_bar .updates_bar_content .user h1 {
	flex: 1;
	display: flex;
	justify-content: center;
	padding-top: 5px;
	font-size: 25px;
	font-weight: 500;
	color: rgba(217, 217, 217, 255);
}

#updates_bar .updates_bar_content .user #user_img {
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 25px;
	background: rgba(21, 24, 28, 255);
	color: rgba(101, 107, 113, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#updates_bar .updates_bar_content .user #user_img p {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

#updates_bar .updates_bar_content .new_updates {
	background: rgba(21, 24, 28, 255);
	position: absolute;
	top: 80px;
	min-height: 400px;
	width: 100%;
	border-radius: 25px;
}

@media only screen and (min-width: 1500px) {
	body {
		width: 1500px;
	}
}

@media only screen and (max-width: 1200px) {
	#side_bar {
		position: absolute;
		left: 0;
		width: 340px;
		z-index: 1;
		border-right-style: solid;
		border-width: 1px;
		border-color: rgba(172, 172, 172, 0.459);
	}

	#side_bar.hidden {
		width: 0px;
	}

	#main_content #header .side_bar_btn_container {
		visibility: visible;
	}
}

@media only screen and (max-width: 900px) {
	#updates_bar {
		position: absolute;
		right: 0;
		width: 340px;
		border-left-style: solid;
		border-width: 1px;
		border-color: rgba(172, 172, 172, 0.459);
		z-index: 1;
	}

	#updates_bar.hidden {
		width: 0px;
	}

	#main_content #header .updates_btn_container {
		visibility: visible;
	}
}
